{%extends 'base.html'%} 

{% block bodyblock %}
<div class="container">
    <br>
    <h2 class="content">Face <span style="color: #198b90;"> Recognition </span></h2>
    <br>
    <p class="content">A facial recognition system is a technology capable of matching a human face from a digital image or a video frame against a database of faces, typically employed to authenticate users through ID verification services, works by pinpointing and measuring facial features from a given image.</p>
    <br>
    <div align="center">
    <img src="{{url_for('static',filename='images/002.png')}}" alt="FREEAI"width="700" height="220">
    </div>
    <br>
    <div align="center">
        <a href="{{url_for('gender')}}" class="btn btn-outline-primary">Try this button</a>
    </div>
    
</div>
{%endblock %}