{%extends 'base.html'%}

{% block bodyblock %}
    <div class="container">
        <br>
            <h1 class="content">Welcome to <span style="color: #198b90;">Kairos</span></h1>
            <br>
       <p>
           Kairos is an app for gender recognition . This app is a face detection, tracking app that provides fast and accurate features of facial features detection. This app will scan all the faces from the image and it gives you the gender information calculated by the computer. 
       </p>

    </div> 
 
{%endblock %}